:root {
    --color-primary: #000;
    --color-text: #8F95A5;
}




body {
    background-color: #fff;
    color: var(--color-text);

    font-family: 'Poppins', sans-serif;

}


h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
}

.conteiner {
    width: 1378px;
    padding: 0 20px;
    margin: 0 auto;
}

/* Header */

.header-logo {
    margin-right: 236px;

    font-size: 36px;
    line-height: 1.5;
    
    
    color: #000000;
}

.header-logo-lex {
    color: #939393;
}

.header-nav-link {
    display: block;
    padding: 75px 0;

    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
     
    color: #263238;
}

.header-button {
    padding: 20px 56px;
    margin-left: auto;

    font-size: 20px;
    line-height: 1.5;
    
    letter-spacing: 0.03em;
    
    color: #000000;

    background-color: transparent;
    border: 2px solid #263238;
    border-radius: 10px;
}

.header-flex {
    display: flex;
    align-items: center;
}

.main-nav-flex {
    display: flex;
}

.main-nav-list {
    gap: 50px;
}


/* Hero */

.hero-title {
    margin-bottom: 40px;

    font-weight: 600;
    font-size: 64px;
    line-height: 1.33;

    color: var(--color-primary);
}

.hero-description {
    margin-bottom: 60px;

    font-size: 24px;
    line-height: 1.5;
    
    color: var(--color-text);
}

.hero-button {
    padding: 23px 64px;
    background: #263238;
    border-radius: 10px;
}

.hero-link {
    display: block;

    font-size: 36px;
    line-height: 1.5;

    color: #fff;
}

.hero-flex {
    display: flex;
}

.hero-img {
    display: block;
    margin-left: 144px;
}